<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="UserName" value="sender@gmail.com"/>
    <add key="Password" value="xxxxx"/>
    <add key="Port" value="587"/>
  </appSettings>
</configuration>