<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GenericMapper.Properties.Settings.BD_DATABASE_TESTSConnectionString"
            connectionString="Data Source=S1445;Initial Catalog=BD_DATABASE_TESTS;Persist Security Info=True;User ID=SA"
            providerName="System.Data.SqlClient" />
        <add name="GenericMapper.Properties.Settings.BD_DATABASE_TESTSConnectionString1"
            connectionString="Data Source=S1445;Initial Catalog=BD_DATABASE_TESTS;Persist Security Info=True;User ID=SA;Password=adm@2011-TI&amp;Local"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>